<html>
<head>
  <!-- <link rel="stylesheet" href="/static/bootstrap.min.css"> -->
  <link rel="stylesheet" href="/static/main.css">
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Archivo" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <meta charset="utf-8"/>
</head>
<body>
  <!-- <form class="form-inline global-search"> -->
  <div class="container">
    <svg class="total" width = "100%" height="680">
      <svg id="pink_section" width="740" height ="680" x="370">
        <rect id="rectangle" x="0" y="0" width=740 height="680"style="fill:#FFF5ED" rx="20" ry="20" />
        <foreignObject id="condition_radio" width="100%" height="100%" x="35%" y="200">
          <form>
            <label style="font-family:Roboto;fill:gray;">
              <span class="radio">
                <input type="radio" name="condition" value="0">
                <span class="radio-value" aria-hidden="true"></span>
              </span>
              newer
            </label>
            <label style="font-family:Roboto;">
              <span class="radio" style="padding-left:10%">
                <input type="radio" name="condition" value="1">
                <span class="radio-value" aria-hidden="true"></span>
              </span>
              older
            </label>
            <!-- <input onclick="console.log('test')" type="submit" name="submit" value="Search" class="example_b"/> -->
            <button id="button_svg" width="100%" height="100%" style="left:320px;top:600px;" type="button" onclick="move_svg()" class="button">Click Me</button>
          </form>
        </foreignObject>
      </svg>
      <svg id ="blue_section" width="0" height="680" x="550">
        <rect id="blue_rectangle" x="0" y="0" width="0" height="680"style="fill:#F1F7FF" rx="20" ry="20" />
      </svg>
    </svg>
  </div>
  <script>
  let clicked = 0;
  function setup(){
    let svg = d3.select("#pink_section")
    let height = svg.attr("height");
    let width = svg.attr("width");


    svg.append("g")
    .append("text")
    .text("sellPhones")
    .attr("class","svg_text")
    .attr("font-family", "Roboto")
    .attr("font-size", "55px")
    .attr("fill","gray")
    .attr("text-anchor","middle")
    .attr("dominantBaseline","middle")
    .attr("transform", "translate(" + width/2 + "," + (90) + ")");

    svg.append("g")
    .append("text")
    .text("condition")
    .attr("id","condition")
    .attr("font-style","italic")
    .attr("font-family", "Roboto")
    .attr("font-size","20px")
    .attr("textLength","86px")
    .attr("fill","gray")
    .attr("text-anchor","middle")
    .attr("dominantBaseline","middle")
    .attr("transform", "translate(" + width/2 + "," + (165) + ")");

    svg.append("g")
    .append("line")
    .attr("class","line")
    .attr("x1",width/15)
    .attr("x2",width/2-50)
    .attr("y1","160")
    .attr("y2","160")
    .attr("stroke","gray")
    .attr("stroke-linecap","round");

    svg.append("g")
    .append("line")
    .attr("class","line2")
    .attr("x1",width/2+50)
    .attr("x2",14*width/15)
    .attr("y1","160")
    .attr("y2","160")
    .attr("stroke","gray")
    .attr("stroke-linecap","round");
  }

  function fill_blue(){
    let svg = d3.select("#blue_section")
    let height = svg.attr("height");
    let width = svg.attr("width");

    svg.append("g")
    .append("text")
    .text("Search Results")
    .attr("id","search_results")
    .attr("font-family", "Roboto")
    .attr("font-style","italic")
    .attr("font-size", "30px")
    .attr("fill","gray")
    .style("opacity",0)
    .attr("text-anchor","middle")
    .attr("dominantBaseline","middle")
    .attr("transform", "translate(" + width/2 + "," + (60) + ")");

    d3.select("#search_results")
    .transition()
    .style("opacity",1)
    .delay(100);

    svg.append("g")
    .append("line")
    .attr("class","line")
    .attr("x1",40)
    .attr("x2",860)
    .attr("y1","110")
    .attr("y2","110")
    .attr("stroke","gray")
    .attr("stroke-linecap","round");
  }

  function move_svg(){
    if (clicked === 1){
      return;
    }
    d3.select("#rectangle")
    .transition()
    .duration(300)
    .attr("width", "500");

    d3.select(".svg_text")
    .transition()
    .duration(300)
    .attr("transform", "translate(" + 500/2 + "," + (90) + ")");

    d3.select("#condition")
    .transition()
    .duration(300)
    .attr("transform", "translate(" + 500/2 + "," + (165) + ")");

    d3.select(".line2")
    .transition()
    .duration(300)
    .attr("x1", 300)
    .attr("x2",14*500/15);

    d3.select(".line")
    .transition()
    .duration(300)
    .attr("x1", 500/15)
    .attr("x2",200);

    d3.select("#pink_section")
    .transition()
    .duration(300)
    .attr("width", "500")
    .attr("x","0");

    d3.select("#blue_section")
    .transition()
    .duration(300)
    .attr("width", "900");

    d3.select("#blue_rectangle")
    .transition()
    .duration(300)
    .attr("width", "900");

    d3.select("#condition_radio")
    .transition()
    .duration(300)
    .attr("x", "30%");

    d3.select("#button_svg")
    .transition()
    .duration(300)
    .attr("x", "200");
    clicked = 1;
    setTimeout(function() { fill_blue(); }, 300);

  }
  setup();
</script>
<!-- <div id="main_options">


<br><br>

<div class="form-group">
<div class="checkHolder">
<input type="checkbox" name="" id="checkbox1" value="Performances">
<input id="input" type="text" name="search" class="form-control" placeholder="Your Input">
</div>
<button type="submit" class="btn btn-info"> Go! </button>
</div> -->
<!-- </form> -->
</body>

</html>
